.invisivel {
  display: none;
}

.visivel {
  display: inline;
}

.inicial, .acertou, .errou {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  width: 150px;
  height: 200px;
  padding: 10px;
  margin: 20px;
}

.inicial {
  background-color: rgb(233, 112, 223);
  border: 15px solid rgb(241, 156, 220);
  color: black;
}

.acertou {
  background-color: rgb(33, 168, 168);
  border: 15px solid rgb(29, 255, 255);
  color: rgb(35, 252, 252);
}

.errou {
  background-color: red;
  border: 15px solid black;
  color: rgb(230, 193, 223);
}

img {
  margin-top: 10px;
}
body {
  font-family: 'Dancing Script', cursive;
}
#resposta {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem; /* aumenta o tamanho da fonte */
}
.inicial:hover,
.acertou:hover,
.errou:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}